.index-admin-main{
    min-height:100vh;
    background-color:#F0F0F1;
    .flash{
        background-color:rgba(122, 164, 220,.7);
        padding: 10px;
    }
    .top-bar{
        background-color:#1D2327;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        a{
            color:#fff;
            font-size: 14px;
            text-decoration:none;
            transition-duration:.3s;
            &:hover{
                transition-duration:.3s;
                color:#7AA4DC;
            }
        }
    }
    .container{
        padding: 20px 20px 0 20px;
        &:last-child{
            margin-top: 70px;
            padding-bottom: 20px;
            @media screen and (min-width:768px){
                margin-top: 100px;
            }
        }
        .post-container{
            display: flex;
            align-items:center;
            .new-post{
                font-size: 13px;
                display: inline-block;
                border:1px solid #2370B1;
                color:#2370B1;
                padding: 4px;
                border-radius:2px;
                font-weight: bold;
                vertical-align:middle;
                text-decoration:none;
                margin-left: 10px;
                transition-duration:.3s;
                &:hover{
                    color:#000;
                    transition-duration:.3s;
                    border-radius:1px solid #000;
                }
            }
            h2{
                font-size: 20px;
                font-weight: normal;
                display: inline;
            }
        }
        .body-container{
            border:1px solid #C3C4C7;
            margin-top: 40px;
            .category-container{
                border-bottom:1px solid #C3C4C7;
                background-color:#fff;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                font-size: 13px;
                display: flex;
                p:first-child{
                    width: 40%;
                }
                p:last-child{
                    width: 60%;
                }
            }
            .post{
                display: flex;
                align-items:center;
                p:first-child{
                    width: 40%;
                    font-weight: bold;
                    padding-right: 10px;
                    line-height:1.5em;
                }
                p:last-child{
                    width: 60%;
                }
            }
            .post-edit-delete-container{
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .post-edit-delete-container:nth-of-type(2n+1){
                background-color:#fff;
            }
            .edit-delete{
                display: flex;
                margin-top: 15px;
                a{
                    color:#000;
                    text-decoration:none;
                    transition-duration:.3s;
                    &:hover{
                        color:#f01a33;
                        transition-duration:.3s;
                    }
                }
                form{
                    margin-left: 10px;
                    cursor:pointer;
                    &:hover{
                        color:#f01a33;
                        transition-duration:.3s;
                    }
                }
                button{
                    padding: 0;
                    border:none;
                    background:none;
                    font-size: 16px;
                    line-height:1em;
                }
            }
        }
    }
}


